/*--RESET--*/
* {
    margin: 0;
    padding: 0;
}

body{
    background: #ecf0f1;
}
/*--BASE TAG STYLES--*/
hr {
    margin: 20px 0;
    border: 1px solid #3a3a3a;
}

/*--FORMS--*/
form {
    margin: auto;
    max-width: 800px;
    padding-bottom: 100px;
}

::-webkit-input-placeholder{
    color: #7a7a7a;
}

input, textarea {
    width: 75%;
    height: 37px;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
    background: none;
    border: none;
    border-bottom: 1px solid #7a7a7a;
    outline: none;
    font-family: FontAwesome, Didot;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
    color: #222;
}

input:focus, textarea:focus{
    border-bottom: 1px solid #222;   
}

textarea {
    height: 113px !important;
    margin-right: -4px;
    resize: none;
    -moz-resize: none;
}

#submit, .footer-contact-button{
    width: 130px;
    height: 60px;
    background-color: #c1c2c2;
    color: #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    transition: .2s ease-in-out;
    border: none;
}

#submit:hover, .footer-contact-button:hover{
    background-color: #b49759;
}

/*--Remove rounded inputs in iOS--*/

input{
    -webkit-appearance: none;
    border-radius: 0;
}
/*--OFF SCREEN NAVIGATION--*/
#menu {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    /* right should be negative value of the width */
    background: #222;
    z-index: 98;
    transition: all 0.2s ease;
    overflow-x: hidden;
}

#menu a:hover {
    color: #ac8d4f;
}

#menu > ul {
    padding: 80px 50px;
}

#menu ul li {
    list-style: none;
    display: block;
    position: relative;
    left: 100px;
    /* value of left is purely for js animation purposes */
    opacity: 0;
    transition: left 0.2s ease, opacity 0.2s ease;
    padding: 10px 0;
    color: #ecf0f1;
}

#menu ul li a{
    color: #fff;
}

.social-links {
    font-size: 0;
}

.social-links li {
    display: inline-block !important;
    padding: 0 !important;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.4rem;
}

.social-links li a {
    display: block;
    width: inherit;
    height: inherit;
    color: white;
}

.social-links li a:hover {
    background: #222;
}
/*-----START OF ON SCREEN CONTENT-----*/

/*---------UNIVERSAL STYLES-----------*/
.top-container{
    position: fixed;
    width: 100%;
    
}
.top-image{
    height: 100vh;
    opacity: 0.2;
}


img{
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
}

img:hover{
    opacity: 1;
}

.scrolling-content{
    background-color: #fff;
    position: relative;
    top: 125vh;
}

.gold-dash{
    height: 2px;
    width: 40px;
    background: #b49759;
    margin: 0px 0px 20px 40px;
}

/*---------HEADER-----------*/
header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.logo {
    display: block;
    background: url(../images/absolute_logo.png) top right no-repeat;
    background-size: 260%;
    height: 50px;
    width: 330px;
    margin-top: 20px;
    margin-left: -250px;
    padding: 25px 0px 0px 10px;
    transition: background-size 0.1s, margin 0.1s, width 0.1s;
}

.logo:hover {
    background-size: contain;
    transform: translate(5,5);
    margin: 40px 0px 0px 20px;
    width: 200px;
}

#icon-menu {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #e2e2e0;
    top: 35px;
    right: 20px;
    
}
/*---------Hamburger menu-----------*/
#icon-menu:hover{
    background-color: #ac8d4f;
}

#icon-menu span {
    display: block;
    width: 23px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    /* border radius should be same as the height */
    position: absolute;
    left: 13px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    transition: all 0.2s ease;
}

#icon-menu span:nth-child(1) {
    top: 14px;
}

#icon-menu span:nth-child(2) {
    top: 23px;
}

#icon-menu span:nth-child(3) {
    top: 32px;
}



/*--------------INDEX PAGE---------------*/
.index-image{
    background: url(../images/shutterstock_502775167.jpg) center no-repeat;
    background-size: cover;
}

/*--Text in center of the header image--*/
.introduction-section{
    position: relative;
    text-align: center;
    z-index: 3;
    top:-65vh;
    padding: 0px 10px;
}

/*--2 links above 'get in touch button'. Wont show on mobile--*/
.introduction-section a:not(.introduction-section a:last-child){
    line-height: 20px;
    font-weight: 400;
    padding: 10px;
}

/*---Hover effect for 2 links---*/
.introduction-section a:hover:not(.introduction-section a:last-child){
    padding-bottom: 5px;
    border-bottom: 1.5px #ac8d4f solid;
}

/*---'Get in touch' botton---*/
.introduction-section a:last-child{
    padding:15px;
    background-color: #222;
    color: #fff;
}

.introduction-section a:last-child:hover{
    background-color: #ac8d4f;
}

/*---Tag line and gold stars---*/
.mission-statement{
    text-align: center;
    margin: 0px auto;
    padding: 300px 5vw;
    max-width: 600px;
}

#moving-stars{
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0px;
    overflow: hidden;
}
/*---Universal styles for stars---*/
.little-star{
    position: relative;
    background: url(../images/little-star.png) center no-repeat;
    background-size: contain;
    height: 30px;
    transition: .4s ease-in;
    filter: opacity(0.6);
}
/*---Starting positions of stars---*/
#star0{top: 150px; left: -190px;}
#star1{top: 210px; left: -70px;}
#star2{top: 130px; left: 70px;}
#star3{top: 155px; left: 200px;}
#star4{top: 400px; left: -200px;}
#star5{top: 310px; left: -80px;}
#star6{top: 370px; left: 60px;}
#star7{top: 280px; left: 200px;}

/*---Position of stars on hover---*/
#moving-stars:hover #star0 {top: 210px; left: -80px;}
#moving-stars:hover #star1 {top: 180px; left: -30px;}
#moving-stars:hover #star2 {top: 150px; left: 20px;}
#moving-stars:hover #star3 {top: 120px; left: 70px;}
#moving-stars:hover #star4 {top: 320px; left: -80px;}
#moving-stars:hover #star5 {top: 290px; left: -30px;}
#moving-stars:hover #star6 {top: 260px; left: 20px;}
#moving-stars:hover #star7 {top: 230px; left: 70px;}


/*---Styles for 3 featured projects, also replicated on the case study page under 'other projects'---*/
.featured-projects, .other-projects{
    text-align: center;
    padding:50px 10px 100px 10px;
}

/*---Styles not to be applied to 'other projects'---*/
.featured-projects:not(.other-projects){
    background: #ebebeb;
}

.featured-projects-container, .blog-top{
    display: inline-block;
}

/*---Services grid---*/
.services{
    background: #fff;
    padding-top: 50px;
}

/*---Universal style for box (split into image and text)---*/
.featurebox{
    height: 400px !important;
    width:50%;
    display: inline-block;
    vertical-align: top;
    margin-left: -2.5px;
}

/*---Images for services section---*/
.brand{
    background: url(../images/branding.png) center no-repeat;
    background-size: cover;
}

.design{
    background: url(../images/design.png) center no-repeat;
    background-size: cover;
}

.web{
    background: url(../images/web.png) center no-repeat;
    background-size: cover;
}

.team{
    background: url(../images/team.jpg) center no-repeat;
    background-size: cover;
}

/*---Text inside services grid---*/
.fb-inner-text{
    position: relative;
    top: calc(50% - 150px);
    height: inherit;
    padding: 30px;
}

/*---Desktop view shows as IMAGE - TEXT - TEXT - IMAGE. Mobile tags are added to make sure the view changes to IMAGE - TEXT - IMAGE - TEXT in a list---*/
.mobile{
    display: none;
}

/*---Container with 9 square grid of clients---*/
.client-section{
    background: #dbdbdb;
    text-align: center;
    padding: 70px 0px;
}

.client-container{
    max-width: 800px;
    margin: 0px auto;
}

.client-frame{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    background: #fff;
    margin: 20px;
}
/*--Images are in grey by default--*/
.client-image{
    height: 120px;
    width: 120px;
    margin: 40px;
    background-position: center center !important;
    background-size: contain !important;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}
/*--Images go full colour on hover--*/
.client-image:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: .3s ease-in-out;
}

/*--3 most recent blog posts on index--*/
.blog-content-index{
    padding: 5% 2%;
    text-align: center;
    background-color: #fff;
}

/*--ABOUT PAGE--*/

/*--Image at the top of the About page--*/
.about-image{
    background: url(../images/WebImages/IMG_7408.jpg) center no-repeat;
    background-size: cover;
}

/*--Container containing picture of Abbie & Sarah and block of text--*/
.opening-statement{
    padding: 100px 0px;
    text-align: center;   
}

.os-container{
    display: inline-block;
    vertical-align: middle;
}

/*--Image of Abbie & Sarah--*/
.opening-statement-photo{
    background: url(../images/Absolute-586.jpg) center no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s ease-in-out;
    height: 300px;
    width: 300px; 
}

/*--text beside photo, displays as block on mobile--*/
.opening-statement-text{
    width: 50%;
    max-width: 500px;
    height: 240px;
    text-align: left;    
    padding: 30px;
    background: #f5f5f5; 
}

/*--Slideshow container, containing testimonials--*/
.slideshow-container {
    padding: 30px 10% 70px 10%;
    background: #ebebeb;
    text-align: center;
    line-height: 2;
    position: relative;
    transition: 0.6s;
}

.testimonial {
    display: none;
}

/*--Next & previous buttons--*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
      background: #b49759;
}

/* The dots/bullets/indicators */
.dot {
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.activedot{
  background-color: #b49759;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*--Team images container--*/
.team-section{
    text-align: center;
    padding-bottom: 100px;
}
/*--Team images go full colour on hover--*/
.team-image:hover, .opening-statement-photo:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: .3s ease-in-out;
}

/*--Universal style for container containing team photos--*/
.team-container{
    height: 420px;
    width: 300px;
    background: #f5f5f5;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

/*--Styles for team portraits (grey by default)--*/
.team-image{
    height: 300px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

/*--Specific text styles--*/
.team-container h4, .team-container p{
    padding: 0px 20px;
}

/*--WORK PAGE--*/
.work-container{
    position: relative;
    z-index: 1;
    margin:120px 0px auto;
    text-align: center;
    padding-bottom: 100px;
    
}
.portfolio-image-container{
    position: relative;
    z-index: 1;
    height:250px;
    width:350px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.portfolio-image-container img{
    height: 300px;
    margin: -20px 0px 0px -20px;
    opacity: 0.8;
}

.portfolio-text-container{
    position: relative;
    z-index: 99;
    height:100%;
    margin-top: -304px;
    margin-left: 20%;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.portfolio-text-label{
    position: relative;
    top:130px;
    width: 200px;
    color: whitesmoke;
    background-color: black;
    padding:10px;
}


.portfolio-image-container:hover img{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    opacity: 1;
    
}

.portfolio-image-container:hover .portfolio-text-container{
    opacity: 1;    
}

/*--CASE STUDY MENU--*/
#case-study-menu{
    position: absolute;
    top: 100vh;
    left: 50px;
    width: 15%;
    min-width: 180px;
    background: #fff;
    box-shadow: 0 3px 5px #ccc;
    padding: 4% 20px;
    filter: opacity(90%);
    z-index: 99;
}

#case-study-menu span{
    font-size: 1.4em;
}

#case-study-menu hr{
    border-style: dashed;
    border-color: #ddd;
    margin: 10px 0;
}

#case-study-menu a{
    text-decoration: none;
    color: gray;
    display: block;
    line-height: 1.5;
}

#case-study-menu .active{
    color: black;
}

#case-study-menu .active:after{
    font-family: FontAwesome;
    content: ' \f0d9';
}

.cover {
    position: relative;
    top: 30vh;
    height: 40vh;
    width: 45vw;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.cover-logo {
    height: 400px;
    width: 400px;
    border-right: 2px solid #ac8d4f;

}

.cover-text h2 {
    padding-top: 18.5vh;
    padding-left: 15px;
}

.case-study-container1 {
    height: 100vh !important;
    text-align: center;
    filter: opacity(0.3)
}

.splitcontainer-upper {
    padding: 10%;
    margin-left:230px;
}

.splitcontainer-upper p {
    line-height: 35px;
    max-width: 1222px;
}

.splitcontainer-lower{
    height:500px;    
}

.case-study-info{
    text-align: center;
    height: 100vh;
    margin-top: -100vh;
}

.case-study-container1, .case-study-container2, .case-study-container3-lower, .case-study-container4, .case-study-container5-lower{
    background-size: cover;
}


.case-study-container4 {
    height:100vh;

}

.case-study-container6 h2{
    text-align: center;
    padding:10%;   
}

.casestudy-contact-form{
    text-align: center;
    margin-top: -50px;
}

#casestudy-captcha{
    margin-left: 30%;
}

/*-----BLOG PAGE------*/
.blog-top{
    top: 0px;
    display: inline-block;
}

.blog-scrolling-content{
    top: 55vh;
}

.blog-content{
    text-align: center;
    background-color: #fff;
    position: relative;
    padding: 50px 0px;
}
.blog-image, .blog-title{
    height: 55vh;
    width:60%;
    background: #f5f5f5;
    vertical-align: top;
}

.blog-title{
    width: 40%;
}

.blog-title h2{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 30px;

}

.blog-container{
    max-width: 280px;
    width: 90%;
    height: 450px;
    overflow: hidden;
    background: #f5f5f5;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    opacity: 0.8;
    transition: all 0.2s ease;
    cursor: pointer;
}

.blog-container:hover{
    opacity: 1;
}

.blog-container-image{
    height: 200px;
    margin-top: -5px;
}

.blog-info{
    padding: 15px;
    text-align: left;
}

.blog-text{
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 10%;
    line-height: 1.5;
}

.description{
    text-align: left;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    display: inline;
}
/*-----CONTACT PAGE------*/

#mapkit-7627{
    height: 70vh;
    width: 100%
}

.contact-area{
    background: #fff;
}

.contact-container{
    display: inline-block;
    vertical-align: top;
}

.contact-form{
    width: 50%;
    margin: 0px 30px;
}

.contact-details{
    width: 30%;
    padding: 0px 5% 5% 5%;
}

.address{
    margin-left: 20px;
}
/*----FOOTER SECTION-----*/

footer{
    background: #f5f5f5;
    padding: 20px 2%;
}

.footer-container input{
    width: 80%;
    max-width: 300px;
    margin-top: 0px;
}

.footer-container{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
}

footer hr{
    border: 0.5px solid #c1c2c2;
    padding: 0px 30px;
    filter: opacity(50%);
}


@media only screen and (max-width: 768px) {
    
    .introduction-section a:not(.introduction-section a:last-child){
        visibility: hidden;
    }
        
    .logo{
        display: none;
    }
    
    #star0 {top: 210px; left: -80px;}
    #star1 {top: 180px; left: -30px;}
    #star2 {top: 150px; left: 20px;}
    #star3 {top: 120px; left: 70px;}

    
    .bottom-star{
        display: none;
    }
    .featurebox{
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .brand, .design, .web, .team{
        height: 200px !important;
    }
    
    .textbox{
        height: 350px;
    }
    
    .gold-dash{
        margin: 20px auto;
    }
    
    .mobile{
        display: block
    }
    
    .desktop{
        display: none;
    }
    
    .fb-inner-text{
        position: relative;
        top: 0px;
        height: inherit;
        padding: 30px;
}
    
    .opening-statement-photo {
        width: 80%;
    }
    
    .opening-statement-text{
        width: 60%;
        padding: 10%;
        height: auto;
    }
    
    .portfolio-image-container{
        width: 250px;
    }
    .portfolio-text-label{
        margin-left: -35px;
    }
    
    .client-container{
        max-width: 400px;
    }
    
    .client-frame{
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    .client-image{
        width: 70px;
        height: 70px;
        margin: 15px;
    }
    
    #case-study-menu{
        display: none;
    }
    .cover-logo {
        border-right: none;
    }
    .cover {
        top: 20vh;
        margin: 0px auto;
        display: block;
        width: 90%
    }
    .splitcontainer-upper {
        margin:0px auto;
    }
    .cover-text h2 {
        text-align: center;
        margin: -40px 0px 0px 7%;
        width: 80%;
    }
    
    .blog-scrolling-content{
        top: 100vh;
    }    
    
    .blog-image, .blog-title{
        height: 50vh !important;
        width:100%;
        vertical-align: top;   
    }
    
    .blog-title{
        text-align: center;
    }

    
    .portfolio-text-container{
        background: none;
        opacity: 0.9
    }
    
    #submit{
        width: 80%;
    }
    
    .contact-area{
        text-align: center;
    }

    .contact-form{
        width: 90%;
        margin: 5%;
    }
    
    .contact-details{
        width: 80%;
        padding-bottom: 100px;
    }
    
    footer{
        text-align: center;
    }
    
    .footer-container{
        width: 80%;
        text-align: center;        
    }
    
    .footer-button{
        margin-bottom: -10px;
    }
    
    .newsletter-container input:last-child{
        margin: 10px auto;
    }
}
