/*--RESET--*/
* {
    margin: 0;
    padding: 0;
}



/*--TYPOGRAPHY--*/
body{
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

h1, h2, h3, h4, p{
    font-weight: 200;
}

h2, h3, h4{
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;  
}

h2{
    font-size: 2.1em;
}

h3{
    font-size: 1.8em;
}

h4{
    font-size: 1.2em;
}

p {
    font-size: 0.9em;
}



/*--BASE TAG STYLES--*/
hr {
    margin: 20px 0;
    border: 1px solid #3a3a3a;
}

/*--FORMS--*/
form {
    margin: auto;
    text-align: center;
    max-width: 800px;
    padding-bottom: 100px;
}

::-webkit-input-placeholder{
    color: black;
    font-style: italic;
}

input, textarea {
    width: 75%;
    height: 37px;
    background: #f5f5f5;
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 10px;
    margin: 20px 0px;
}

textarea {
    height: 113px !important;
    margin-right: -4px;
    resize: none;
    -moz-resize: none;
}

#submit{
    width: 130px;
    height: 60px;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

#submit:hover{
    background-color: #7bddd8;
}



/*--OFF SCREEN NAVIGATION--*/
#menu {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    /* right should be negative value of the width */
    background: #222;
    z-index: 98;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow-y: scroll;
}

#menu a:hover {
    color: #7bddd8;
}

#menu > ul {
    padding: 80px 50px;
}

#menu ul li {
    list-style: none;
    display: block;
    position: relative;
    left: 100px;
    /* value of left is purely for js animation purposes */
    opacity: 0;
    -webkit-transition: left 0.2s ease, opacity 0.2s ease;
    -moz-transition: left 0.2s ease, opacity 0.2s ease;
    -o-transition: left 0.2s ease, opacity 0.2s ease;
    transition: left 0.2s ease, opacity 0.2s ease;
    padding: 10px 0;
    color: #ecf0f1;
}

#menu ul li a{
    color: #fff;
}

.social-links {
    font-size: 0;
}

.social-links li {
    display: inline-block !important;
    padding: 0 !important;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 1.4rem;
}

.social-links li a {
    display: block;
    width: inherit;
    height: inherit;
    color: white;
}

.social-links li a:hover {
    background: #111;
}



/*--START OF ON SCREEN CONTENT--*/
img{
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

img:hover{
    opacity: 1;
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.logo {
    display: block;
    background: url(../images/absolute_logo.png) top right no-repeat;
    background-size: 260%;
    -webkit-background-size: 260%;
    -moz-background-size: 260%;
    -o-background-size: 260%;
    height: 50px;
    width: 330px;
    margin-top: 20px;
    margin-left: -250px;
    padding: 25px 0px 0px 10px;
    -webkit-transition: background-size 0.1s, margin 0.1s, width 0.1s;
    -moz-transition: background-size 0.1s, margin 0.1s, width 0.1s;
    -o-transition: background-size 0.1s, margin 0.1s, width 0.1s;
    transition: background-size 0.1s, margin 0.1s, width 0.1s;
}

.logo:hover {
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-transform: translate(5, 5);
    -moz-transform: translate(5, 5);
    -o-transform: translate(5, 5);
    -ms-transform: translate(5, 5);
    transform: translate(5, 5);
    margin: 40px 0px 0px 20px;
    width: 200px;
}

#icon-menu {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #7bddd8;
    top: 35px;
    right: 20px;
}

#icon-menu span {
    display: block;
    width: 23px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    /* border radius should be same as the height */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    position: absolute;
    left: 13px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#icon-menu span:nth-child(1) {
    top: 14px;
}

#icon-menu span:nth-child(2) {
    top: 23px;
}

#icon-menu span:nth-child(3) {
    top: 32px;
}



/*--HOME PAGE--*/
video, .video-gradient-layer {
    width: 100%;
    height: 100.4vh;
    object-fit: cover;
    z-index: 1;
}

.video-gradient-layer{
    position: relative;
    z-index: 2 !important;
    background-color: white;
    margin-top:-101vh;
    filter: opacity(70%);
}


.introduction-section{
    position: relative;
    text-align: center;
    z-index: 3;
    top:-70vh;
    color: #111;
}

.absolute-logo{
    height:60px;
    margin-bottom: 25px;
}
.introduction-section a:first-child{
    margin-right:20px;    
}

.introduction-section a:not(.introduction-section a:last-child){
    color: #ac8d4f;
    line-height: 20px;
    font-weight: 400;
}

.introduction-section a:hover:not(.introduction-section a:last-child){
    padding-bottom: 5px;
    border-bottom: 1.5px #ac8d4f solid;
}

.introduction-section a:last-child{
    padding:15px;
    background-color: #000;
    color: #fff;
}

.introduction-section a:last-child:hover{
    padding:15px;
    background-color: #7bddd8;
}

.mobile-br{
    display: none;
}

.featured-projects, .other-projects{
    text-align: center;
    padding:50px 10px;
}

.featured-projects:not(.other-projects){
    margin-top: -280px;

}

.featured-projects-container{
    display: inline-block;
}

.featured-info{
    text-align: center;
    color: #fff;
    background: #7bddd8;
    height: 200px;
    padding: 30px;
}

.featurebox{
    height: 400px;
    width:33.33%;
    display: inline-block;
    margin-right: -4px;
}

.brand{
   background: #ebebeb; 
}

.design{
    background: #f0d6a1;
}

.web{
    background: #8a8a8a;
}

.clients-section{
    background: #dbdbdb;
    text-align: center;
    padding: 100px 15%;
    margin-top: -5px;
}

.client-frame{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    background: #fff;
    margin: 20px;
}

.client-image{
    height: 150px;
    width: 150px;
    margin: 25px;
    -webkit-background-position: center center !important;
    -moz-background-position: center center !important;
    -ms-background-position: center center !important;
    -o-background-position: center center !important;
    background-position: center center !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -ms-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .3s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .3s ease-in-out;
}

.client-image:hover{
    -webkit-filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .3s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .3s ease-in-out;
}


/*--WORK PAGE--*/
.work-container{
    position: relative;
    z-index: 1;
    margin:120px 0px auto;
    text-align: center;
}

.portfolio-image-container{
    position: relative;
    z-index: 1;
    height:250px;
    width:350px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.portfolio-image-container img{
    height: 300px;
    margin: -20px 0px 0px -20px;
    opacity: 0.8;
}

.portfolio-text-container{
    position: relative;
    z-index: 99;
    height:100%;
    margin-top: -304px;
    margin-left: 20%;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.portfolio-text-label{
    position: relative;
    top:130px;
    width: 200px;
    color: whitesmoke;
    background-color: black;
    padding:10px;
}


.portfolio-image-container:hover img{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    opacity: 1;
    
}

.portfolio-image-container:hover .portfolio-text-container{
    opacity: 0.9;    
}



/*--CASE STUDY MENU--*/
#case-study-menu{
    position: absolute;
    top: 100vh;
    left: 50px;
    width: 15%;
    min-width: 180px;
    background: #fff;
    box-shadow: 0 3px 5px #ccc;
    padding: 4% 20px;
    filter: opacity(90%);
    z-index: 99;
}

#case-study-menu span{
    font-size: 1.4em;
}

#case-study-menu hr{
    border-style: dashed;
    border-color: #ddd;
    margin: 10px 0;
}

#case-study-menu a{
    text-decoration: none;
    color: gray;
    display: block;
    line-height: 1.5;
}

#case-study-menu .active{
    color: black;
}

#case-study-menu .active:after{
    font-family: FontAwesome;
    content: ' \f0d9';
}

.cover-gradient {
    height: 100vh;
    margin-bottom: -100vh;
    background-color: #fff;
    filter: opacity(70%);
}

.cover {
    position: relative;
    top: 30vh;
    height: 40vh;
    width: 45vw;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.cover-logo {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    border-right: 2px solid #ac8d4f;
}

.cover-text h2 {
    padding-top: 16vh;
    padding-left: 15px;
    color: #ac8d4f;
}

.case-study-container1 {
    height: 100vh !important;
    text-align: center;
}

.splitcontainer-upper {
    padding: 10%;
    margin-left:230px;
}

.splitcontainer-upper p {
    line-height: 35px;
    max-width: 1000px;
}

.splitcontainer-lower{
    height:500px;    
}

.case-study-container1, .case-study-container2, .case-study-container3-lower, .case-study-container4, .case-study-container5-lower{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.case-study-container4 {
    height:100vh;

}



.case-study-container6 h2{
    text-align: center;
    padding:10%;   
}

@media only screen and (max-width: 767px) {
    
    h2{
    font-size: 1.5em;
    }
    
    .introduction-section a:not(.introduction-section a:last-child){
        visibility: hidden;
    }
    .introduction-section p{
        margin-top: -60px;
    }
        
    .logo{
        display: none;
    }
    
    .mobile-br{
        display: block;
    }
    .featured-projects{
        padding-top: 100px;
    }
    .portfolio-image-container{
        width: 250px;
    }
    
    
    
    
    #case-study-menu{
        display: none;
    }
    .cover-logo {
        border-right: none;
    }
    .cover {
        top: 20vh;
        margin: 0px auto;
        display: block;
        width: 90%
    }
    .splitcontainer-upper {
        margin:0px auto;
    }
    .cover-text h2 {
        text-align: center;
        margin: -40px 0px 0px 7%;
        width: 80%;
    }
    
    .portfolio-text-container{
        background: none;
        opacity: 0.9
    }
}
   
}