* {
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    font-weight: 200;
}

video{
    width:100%;
    height:100vh;
    object-fit:cover;
    z-index: 1;
}

.container {
    width: 100%;
}

.cover-gradient {
    height: 100vh;
    margin-bottom: -100vh;
    background-color: #383838;
    opacity: 0.9;
    filter: opacity(90%);
}

.cover {
    position: relative;
    top: 30vh;
    height: 40vh;
    width: 45vw;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.cover-logo {
    background: url(../images/Black_Mulberry_logo.png) center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    border-right: 1px solid white;
}

.cover-text h2 {
    padding-top: 16vh;
    padding-left: 15px;
    color: whitesmoke;
}

.mulberry-container1 {
    height: 100vh !important;
    background: url(../images/Black_Mulberry_Window.jpg) top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.splitcontainer-upper {
    padding: 10%;
    margin-left:230px;
}

.splitcontainer-upper p {
    line-height: 35px;
    max-width: 1000px;
}

.splitcontainer-lower{
    height:500px;    
}

.container:not(.mulberry-container1){
    opacity: 0;
    transition: opacity 1.3s;
}
.mulberry-container2-lower {
    background: url(../images/Black_Mulberry_Menu.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mulberry-container3-lower {
    background: url(../images/Black_Mulberry_Invitation_Design.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mulberry-container4 {
    height:100vh;
    background: url(../images/Black_Mulberry_Logo_Design-Absolute.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mulberry-container5-lower {
    background: url(../images/Black_Mulberry_Loyalty_Card_Design-.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mulberry-container6 h2{
    text-align: center;
    padding:10%;   
}

form {
    margin: auto;
    text-align: center;
    max-width: 800px;
    padding-bottom: 100px;
}

::-webkit-input-placeholder{
    color: black;
    font-style: italic;
}

input,textarea {
    width: 75%;
    height: 37px;
    background: whitesmoke;
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 10px;
    margin: 20px 0px;
}

textarea {
    height: 113px !important;
    margin-right: -4px;
    resize: none;
}

#submit{
    width: 77%;
    height:60px;
    background-color: #757575;
    color: white;
    margin-left:-5px;
}

#submit:hover{
    opacity: 0.9;
    filter: opacity(90%);
}

/* menu */
#menu{
    position: absolute;
    top: 100vh;
    left: 50px;
    width: 15%;
    min-width: 180px;
    background: white;
    box-shadow: 0 3px 5px #ccc;
    padding: 4% 20px;
    filter: opacity(90%);
    z-index: 99;
}

#menu span{
    font-size: 1.4em;
}

#menu hr{
    border-style: dashed;
    border-color: #ddd;
    margin: 10px 0;
}

#menu a{
    text-decoration: none;
    color: gray;
    display: block;
    line-height: 1.5;
}
#menu .active{
    color: black;
}
#menu .active:after{
    font-family: FontAwesome;
    content: ' \f0d9';
}

.work-container{
    margin:0px auto;
    text-align: center;
    max-width: 1300px;
}

.portfolio-image-container{
    position: relative;
    z-index: 1;
    height:300px;
    width:400px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.portfolio-image-container img{
    height: 300px;
}

.portfolio-text-container{
    position: relative;
    z-index: 99;
    height:100%;
    margin-top: -304px;
    background:url(../images/portfolio-container-cover.png) top center no-repeat;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.portfolio-text-label{
    position: relative;
    top:130px;
    width: 200px;
    border-radius: 50px/50px;
    color: whitesmoke;
    background-color: black;
    padding:10px;
}


.portfolio-image-container:hover img{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    
}

.portfolio-image-container:hover .portfolio-text-container{
    opacity: 0.9;    
}

@media only screen and (max-width: 768px) {
    
    #menu{
        display: none;
    }
    .cover-logo {
        border-right: none;
    }
    .cover {
        top: 20vh;
        margin: 0px auto;
        display: block;
        width: 90%
    }
    .splitcontainer-upper {
        margin:0px auto;
    }
    .cover-text h2 {
        text-align: center;
        margin-top: -40px;
        width: 80%;
    }
    
    .portfolio-text-container{
        background: none;
        opacity: 0.9
    }
}