@font-face {
    font-family:Questa;
    src:url(../fonts/Questa_Grande_Regular.otf);
}

@font-face {
    font-family:Open;
    src:url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family:Didot;
    src:url(../fonts/Didot.ttc);
}


body{
    font-family: "Open",sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;

    transition: all 0.2s ease;
}

h1, h2, h3, h4, p{
    font-weight: 200;
    opacity: 0.7;
}

h2, h4{
    font-family: "Questa", serif;
    margin-bottom: 20px;  
}

h2{
    font-size: 2.1em;
}

.h2-grey{
    color: #d1d3d4;
}

h3{
    font-size: 1.8em;
    font-family: Didot;
    font-style: italic;

}

.dotted-border{
    background: #fff;
    padding: 30px;
    max-width: 30%;
    outline-style: dotted;
    outline-color: #fff;
    outline-offset: 10px;
    margin: 20px auto;
    opacity: 0.7;
    font-style: normal;

}

.dotted-border-small{
    position: relative;
    top: 30%;
    padding: 5px;
    text-align: center;
    background: #fff;
    max-width: 60%;
    outline-style: dotted;
    outline-color: #fff;
    outline-offset: 10px;
    margin: 0px auto;
    opacity: 0.7;
    font-style: normal;
}
h4{
    font-size: 1.2em;
}

p {
    font-size: 0.9em;
}

.gold{
    color: #ac8d4f;
}

@media only screen and (max-width: 768px) {
    
    h2, h3{
        font-size: 1.5em;
    }
    
    .dotted-border{
        max-width: 50%;
        
    }